<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 03</title>
</head>
<body>
    <header>

    </header>

    <section>
        <div>
            <h2>Bài thực hành 04:</h2>
        </div>
        <div>
            <table border="1" cellspacing="0" width="70%">

                <tbody>
                    <tr>
                        <td rowspan="5">
                            <div>
                                <video controls loop autoplay>
                                    <source src="/Lesson03/img/1.mp4" type="video/mp4">
                                </video>
                            </div>
                        </td>
                        <td>
                            <div>
                                <img src="https://static2.yan.vn/YanNews/202203/202203150551328043-4c92a17b-8427-421a-a237-7a396faf06cd.jpeg" alt="">
                            </div>
                        </td>
                        <td>
                            <div>
                                <a href="#">Lorem ipsum dolor sit amet</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <img src="https://static2.yan.vn/YanNews/202203/202203150551328043-4c92a17b-8427-421a-a237-7a396faf06cd.jpeg" alt="">
                            </div>
                        </td>
                        <td>
                            <div>
                                <a href="#">Lorem ipsum dolor sit amet</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <img src="https://static2.yan.vn/YanNews/202203/202203150551328043-4c92a17b-8427-421a-a237-7a396faf06cd.jpeg" alt="">
                            </div>
                        </td>
                        <td>
                            <div>
                                <a href="#">Lorem ipsum dolor sit amet</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <img src="https://static2.yan.vn/YanNews/202203/202203150551328043-4c92a17b-8427-421a-a237-7a396faf06cd.jpeg" alt="">
                            </div>
                        </td>
                        <td>
                            <div>
                                <a href="#">Lorem ipsum dolor sit amet</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <img src="https://static2.yan.vn/YanNews/202203/202203150551328043-4c92a17b-8427-421a-a237-7a396faf06cd.jpeg" alt="">
                            </div>
                        </td>
                        <td>
                            <div>
                                <a href="#">Lorem ipsum dolor sit amet</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</body>
</html>