html{
    font-size: 20px;
}
.card-content{
    position: relative;
}
.add-card{
    opacity: 1;
    display: none;
    position: absolute;
    top: -5rem;
    left: 0;
    width: 100%;
}
.add-card button{
    width: 100%;
    padding: 10px;
}
@keyframes showBtn{
    from{opacity: 0;}
    to{opacity: 1;}
}
.card:hover .add-card{
    animation: showBtn 1s;
    display: block;
}
.card-img{
    position: relative;
}
.add{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 50%;
}
.add p{
    width: 20%;
    background-color: rgb(236, 93, 93);
    padding: 10px;
    border: 1px solid rgb(236, 93, 93);
    border-radius: 47%;
}
.add b{
    color: white;
}

.list-card .card{
    width: 22.5rem !important;
}

@media only screen and (max-width: 800px) {
    html{
        font-size: 15px;
    }
    }
@media only screen and (max-width: 500px) {
    html{
        font-size: 10px;
        }
    }

/*  đơn vị trong css: rem em
quy ước: tất cả giá trị rem/em đều được đưa về px
            1rem= value(font-size) trong element html
            1 em = value(font-size) trong element cha
*/
/* x=2y */