<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega menu</title>
    <link rel="stylesheet" href="../Css/menu.css">
</head>
<body>
    <header>
        <nav class="d-flex">
            <div class="logo">
                <img src="https://devmaster.edu.vn/images/logo.png" alt="">
            </div>
            <ul class="menu-cap-1">
                <li class="option">
                    <a href="#" class="link">Home</a>
                </li>
                <li class="option">
                    <a href="#" class="link">Contact</a>
                </li>
                <li class="option">
                    <a href="#" class="link">Product</a>
                    <div class="menu-cap-2">
                        <ul class="list-option-2">
                            <li class="option">
                                <a href="#" class="link">FE</a>
                                <div class="menu-cap-3">
                                    <ul class="list-option-2">
                                        <li class="option">
                                            <a href="#" class="link">F</a>
                                        </li>
                                        <li class="option">
                                            <a href="#" class="link">E</a>
                                        </li>
                                        <li class="option">
                                            <a href="#" class="link">G</a>
                                        </li>
                                        <li class="option">
                                            <a href="#" class="link">H</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="option">
                                <a href="#" class="link">BE</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="option">
                    <a href="#" class="link">News</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="page-content">
        <div class="banner">
            <img src="https://devmaster.edu.vn/uploads/images/2020/11/20-11-2020.jpg" alt="">
        </div>

    </section>
</body>
</html>