<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h2>Danh sách sản phẩm</h2>
        <div class="list-card">
            <div class="card" style="width: 450px;">
                <div class="card-img">
                    <img style="width: 100%;" src="../Images/sp1.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <b style="text-align: center;">Gương trang điểm 2 mặt để bàn</b>
                    </div>
                    <div class="card-price">
                        <p style="text-align: center;">
                            55.000đ
                            <small><del> 75.000đ</del></small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 450px;">
                <div class="card-img">
                    <img style="width: 100%;" src="../Images/sp2.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <b style="text-align: center;">Túi sách nữ đeo chéo</b>
                    </div>
                    <div class="card-price">
                        <p style="text-align: center;">
                            49.000đ
                            <small><del> 70.000đ</del></small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 450px;">
                <div class="card-img">
                    <img style="width: 100%;" src="../Images/sp3.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <b style="text-align: center;">Balo Ulzzang Hàn Quốc</b>
                    </div>
                    <div class="card-price">
                        <p style="text-align: center;">
                            169.000đ
                            <small><del> 250.000đ</del></small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 450px;">
                <div class="card-img">
                    <img style="width: 100%;" src="../Images/sp4.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <b style="text-align: center;">Váy 2 dây dáng xoè</b>
                    </div>
                    <div class="card-price">
                        <p style="text-align: center;">
                            74.900đ
                            <small><del> 119.000đ</del></small>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>