<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clock</title>
    <link rel="stylesheet" href="../Css/clock.css">
</head>
<body>
    <section>
        <div class="list-card">
            <div class="card" style="width: 450px;">
                <div class="card-img">
                    <img style="width: 100%;" src="https://img.ws.mms.shopee.vn/vn-11134207-7qukw-lf7ru3wdkk96e9" alt="">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <h3 style="text-align: center;">production</h3>
                    </div>
                    <div class="card-price">
                        <p style="text-align: center;">10.000.000đ</p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 450px;">
                <div class="card-img">
                    <img style="width: 100%;" src="https://img.ws.mms.shopee.vn/vn-11134207-7qukw-lf7ru3wdkk96e9" alt="">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <h3 style="text-align: center;">production</h3>
                    </div>
                    <div class="card-price">
                        <p style="text-align: center;">10.000.000đ</p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 450px;">
                <div class="card-img">
                    <img style="width: 100%;" src="https://img.ws.mms.shopee.vn/vn-11134207-7qukw-lf7ru3wdkk96e9" alt="">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <h3 style="text-align: center;">production</h3>
                    </div>
                    <div class="card-price">
                        <p style="text-align: center;">10.000.000đ</p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 450px;">
                <div class="card-img">
                    <img style="width: 100%;" src="https://img.ws.mms.shopee.vn/vn-11134207-7qukw-lf7ru3wdkk96e9" alt="">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <h3 style="text-align: center;">production</h3>
                    </div>
                    <div class="card-price">
                        <p style="text-align: center;">10.000.000đ</p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 450px;">
                <div class="card-img">
                    <img style="width: 100%;" src="https://img.ws.mms.shopee.vn/vn-11134207-7qukw-lf7ru3wdkk96e9" alt="">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <h3 style="text-align: center;">production</h3>
                    </div>
                    <div class="card-price">
                        <p style="text-align: center;">10.000.000đ</p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 450px;">
                <div class="card-img">
                    <img style="width: 100%;" src="https://img.ws.mms.shopee.vn/vn-11134207-7qukw-lf7ru3wdkk96e9" alt="">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <h3 style="text-align: center;">production</h3>
                    </div>
                    <div class="card-price">
                        <p style="text-align: center;">10.000.000đ</p>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 450px;">
                <div class="card-img">
                    <img style="width: 100%;" src="https://img.ws.mms.shopee.vn/vn-11134207-7qukw-lf7ru3wdkk96e9" alt="">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <h3 style="text-align: center;">production</h3>
                    </div>
                    <div class="card-price">
                        <p style="text-align: center;">10.000.000đ</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</body>
</html>