<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clock</title>
</head>
<body>
    <header>

    </header>

    <section id="test-clock">
        <div class="form-clock" style="width: 460px; padding: 20px; margin-top: 200px; margin-left: 750px; background-color: aliceblue;">
            <div class="logo-clock">
                <div class="img-clock">
                    <img src="https://img.ws.mms.shopee.vn/vn-11134207-7qukw-lf7ru3wdkk96e9" alt="" style="width: 450px; padding: 5px;">
                </div>
            </div>
            <div class="content-clock">
                <div class="kashmir" style="color: #595353; font-family: 'Courier New', Courier, monospace; ">
                    <big style="padding: 180px; font-size: 23px; line-height: 100px;">KASHMIR</big>
                </div>
                <div class="modish">
                    <big style="font-family: 'Times New Roman', Times, serif; font-size: 28px;padding: 175px;">MODISH</big>
                </div>
                <div class="price">
                    <p style="font-size: 22px;padding: 0 120px;line-height: 45px;">
                        <b style="padding: 4px;">
                            2.184.000 <u>đ</u>
                        </b>
                        <small style="padding: 4px;">
                            <del style="color: #999999;">2.229.000 <u>đ</u></del>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>